"leader

let mapleader=" "
set easymotion
"set keep-english-in-normal-and-restore-in-insert

map <Leader> <Plug>(easymotion-prefix)

"用s触发 easymotion-s，原来的s键功能可以使用xi来实现
nmap s <Plug>(easymotion-s)
map <Leader>l <Plug>(easymotion-sl)
map <Leader>j <Plug>(easymotion-j)
map <Leader>k <Plug>(easymotion-k)

"添加对函数参数对象的支持，这样就可以用daa，dia删除参数
set argtextobj

"添加对文件对象的支持，这样就可以用=ea，格式化整个文件了可以用来代替gg=G
set textobj-entire

"历史记录
set history=1000

"执行命令后，默认居中
set scrolloff=999

"启用vimsurround功能
set surround

"启用multicursor
set multiple-cursors

"显示行号
set nu

"显示相对行号
set rnu

"高亮搜索
set hlsearch

"按esc顺便取消高亮
nnoremap <esc> <esc>:noh<return>
nnoremap <C-[> <esc>:noh<return>

"自动定位到输入中的字符串，不需要回车搜索
set incsearch

"显示当前的模式
set showmode

"共享系统粘贴板
set clipboard=unnamedplus

"在可视模式下，使用X将高亮选中的字符串进行搜索
vnoremap X y/<C-R>+<CR>
"快速定位R.layout
nnoremap <Leader>R /R.layout/e+2<CR>:noh<cr>gd<cr>

"搜索时智能匹配大写
set ignorecasesmartcase

"idea重构时保持当前的vim模式
set idearefactormode=keep

"使用idea的join代替原始的j
set ideajoin

nmap gb :action GotoImplementation<CR>

"命令模式下做映射
"map <C-P><Up>
"map <C-N><Down>
"nnoremap / :action Find<CR>
"noremap <C-O> <ESC>:action Back<CR>
"noremap <C-I> <ESC>:action Forward<CR>

